.background-registro{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #eaeef3;
    padding: 20px;
}

.main-registro form{
    background: #eaeef3;
    padding: 1px 20px 20px 20px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-registro h3{
    text-align: center;
    margin-bottom: 20px;
    background-color: #052342;
    color: white;
    font-weight:600;
    padding: 20px;
}

.main-registro form div{
    width: 49%;
    margin-right: 1px
}

.contenedor-datos-personales{
    background-color: #ffffff;
    border: 1px solid rgba(49, 47, 47, 0.075);
    border-radius: 20px;
    padding: 40px;
}

.contenedor-datos-personales h4{
    text-align: center;
    margin-bottom: 20px;
    background-color: #052342;
    color: white;
    font-weight:600;
    padding: 20px;
}

.contenedor-tipo-cuenta{
    background-color: #ffffff;
    border: 1px solid rgba(49, 47, 47, 0.075);
    border-radius: 20px;
    padding: 40px;

}

.contenedor-tipo-cuenta-subcontenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

.tipo-cuenta-info{
    width: 50%;
}

.contenedor-tipo-cuenta h4{
    text-align: center;
    margin-bottom: 20px;
    background-color: #052342;
    color: white;
    font-weight:600;
    padding: 20px;
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.datos-personales{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.datos-personales label{
    margin-left: 20px;
}


.error{
    color: red;
}

.tipo-cuenta{
    display: flex;
    flex-direction: row;
}

.datos-estudiante{
    display: flex;
    flex-wrap: wrap;    
}

.datos-estudiante label{
    width: 100%;
}


.contenedor-tipo-cuenta section img{
    width: 100%;
    border: 1px solid rgb(49, 47, 47);
}

@media screen and (max-width: 768px){
    .main-registro form div{
        width: 100%;
        margin-bottom: 10px;
    }

    .main-registro form section{
        flex-direction: column;
    }

    .contenedor-tipo-cuenta-subcontenedor{
        flex-direction: column;
    }

    .tipo-cuenta-info{
        width: 100%;
    }
}
    



