@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

.tablaTP-desktop {
    margin-top: 0px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    font-family: 'Montserrat';
    overflow-x: scroll;
    box-shadow: 1px 22px 43px -28px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 22px 43px -28px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 22px 43px -28px rgba(0,0,0,0.75);
}

.tablaTP-desktop tr th {
    color: black;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid #dee2e6;
    font-weight: 500;
}


.tablaTP-desktop tr td {
    border-top: 0.5px solid #909090;
    border-bottom: 0.5px solid #909090;
    text-align: center;
    padding: 5px;
}

.tablaTP-mobile {
    font-family: 'Montserrat';
    margin-top: 50px;
    display: none;
    width: 100%;
    overflow-x: scroll;
}

.tablaTP-mobile .fila .columna {
    display: flex;
    flex-direction: column;
}

.tablaTP-mobile .fila {
    display: flex;
    flex-direction: row;
}

.tablaTP-mobile .columna .header,
.tablaTP-mobile .columna .contenido {
    padding: 15px;
}

.tablaTP-mobile .fila .columna .header {
    background-color: #ffffff;
    border-bottom: 2.5px solid #dee2e6;
    border-right: 5px solid #dee2e6;
    color: black;
    font-weight: bold;
    padding: 9.7px;
}

.tablaTP-mobile .fila .columna .contenido {
    background-color: #ffffff;
    border-bottom: 2.5px solid #dee2e6;
    padding: 9.7px;
    white-space: nowrap;
    text-align: center;
}

.tablaTP-mobile .fila .columna .contenido button {
    padding: 2px;
    font-size: 10px;
}

.tutDocente-modal-open {
    border-radius: 20px;
    width: 500px;
    margin-top: 5%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}





@media (max-width: 600px) {
    .tablaTP-mobile {
        display: block;
    }

    .tablaTP-desktop {
        display: none;
    }

    .tutDocente-modal-open {
        width: 100%;
        margin-top: 0%;
    }
}

.contenedor-tablaTP {
    margin: 5px 100px 25px 100px;
    overflow-x: scroll;
    text-align: center;
}

.ttl-tabla{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    color: #8d0b0e;
    margin-bottom: 20px;
    
}